@import 'reset.scss';

@font-face {
  font-family: 'OTWelcomeBA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeBA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaplestoryOTFBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'OTWelcomeBA';
  background-color: rgb(87, 84, 84);
  :focus {
    outline: 0;
  }
}

.hidden {
  max-height: 0px;
  overflow: hidden;
  opacity: 0;
}

header {
  border-bottom: 2px solid pink;
  background-color: rgb(87, 84, 84);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .logo-wrapper {
    border: 2px solid pink;
    text-decoration: none;
    width: 53px;
    //background-image: url("../images/logo.png");
    background-size: 53px 46px;
    background-repeat: no-repeat;
    font-size: 0px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease-out;
    &:hover {
      font-size: 20px;
      width: 70px;
      text-indent: 0px;
      background-color: black;
      border: 3px solid pink;
      color: pink;
      padding-left: 10px;
      font-weight: 700;
      display : flex;
      justify-content : center;
      align-items : center;
      background-size: 0;
      transition: all 0.5s ease-out;
    }
    strong {
      background-color: black;
    }
  }
  .header-container {
    display: flex;
    width: 90vw;
    opacity: 1;
    margin: 0 auto;
    max-height: 300px;
    padding: 10px 0px;
    background-color: rgb(87, 84, 84);
  }
  .search_form {
    display: flex;
    border: 2px solid pink;
    border-radius: 20px;
    overflow: hidden;
    .search_input {
      width: 60vw;
      border: none;
      font-size: 20px;
      background-color:  rgb(87, 84, 84);
      padding: 3px 10px;
      color: white;
      padding-left: 20px;
    }
    input::placeholder{
      color: white;
    }
    .search_button {
      font-family: 'MaplestoryOTFBold';
      border: 3px solid pink;
      border-left: none;
      font-size: 20px;
      background-color: pink;
      padding: 3px 10px;
      color: white;
      cursor: pointer;
    }
  }
}

.main-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  .main-logo {
    img {
      display: block;
      width: 300px;
    }
    border-radius: 30px;
    border: 2px solid pink;
    overflow: hidden;
    transition: all 300ms ease-out;
    cursor: pointer;
  }
  .main-logo:hover {
    transform: rotate(-5deg);
    transition: all 300ms ease-out;
  }
}

.search-info {
  width: 90vw;
  margin: 0 auto;
  margin-top: 100px;
  .search-total {
    strong {
      font-family: 'MaplestoryOTFBold';
      color: pink;
      font-size: 30px;
    }
  }
}

.search-container .search_form {
  margin-top: 30px;
  overflow: hidden;
  border: 3px solid pink;
  background-color: white;
  border-radius: 20px;
  .search_button {
    all: unset;
    background-color: pink;
    color: white;
    padding: 15px 20px;
    font-size: 30px;
    cursor: pointer;
    font-family: 'MaplestoryOTFBold';
  }
  .search_button:hover {
    color: black;
  }
  .search_input {
    background-color: white;
    width: 60vw;
    font-size: 30px;
    padding: 10px 20px;
    border: none;
  }
}
.modal {
  font-family: 'OTWelcomeBA';
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
  
.modal__background {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}
  
.modal__content {
  text-align: center;
  position: relative;
  background-color: white;
  border-radius: 10px;
  top: 0;
  padding: 10px 25px;
  width: 40%;
}

.movie_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  ul {
    width: 300px;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
  }
  .movie-box {
    cursor: pointer;
    position: relative;
    img {
      display: block;
      width:300px;
      height:450px;
      object-fit:cover;
    }
    .movie-info {
      p {
        font-size: 0;
      }
    }
    &:hover {
      li img {
        filter: blur(4px);
      }
      .movie-info {
        position: absolute;
        top: 40%;
        left: 8%;
        box-shadow: 5px 5px 5px 5px black;
        p {
          font-family: 'MaplestoryOTFBold';
          color: white;
          background-color: rgb(240, 155, 169);
          
          padding: 20px 0px;
          text-align: center;
          width: 250px;
          

          font-weight: bolder;
          font-size: 20px;
        }
      }
    }
  }
}