@import 'reset.scss';
@import 'spinner.scss';
@import 'responsive.scss';
@import 'header.scss';
@import 'utils.scss';
@import 'modal.scss';

// 메인 화면, 전체 스타일

* {
  font-family: 'OTWelcomeBA';
  :focus {
    outline: 0;
  }
}

body {
  background-color: rgb(87, 84, 84);
  position: relative;
}

.main-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 84vh;
  .main-logo {
    img {
      display: block;
      width: 300px;
    }
    border-radius: 30px;
    border: 2px solid #EDDADA;
    overflow: hidden;
    transition: all 300ms ease-out;
    cursor: pointer;
  }
  .main-logo:hover {
    transform: rotate(-5deg);
    transition: all 300ms ease-out;
  }
}

.search-info {
  width: 90vw;
  margin: 0 auto;
  margin-top: 100px;
  .search-total {
    strong {
      font-family: 'MaplestoryOTFBold';
      color: #EDDADA;
      font-size: 30px;
    }
  }
}

.search-container .search_form {
  position: relative;
  margin-top: 30px;
  display: flex;
  align-items: center;
  border: none;
  // border: 3px solid #EDDADA;
  // background-color: white;
  // border-radius: 20px;
  .search_button {
    all: unset;
    height: 100%;
    background-color: #EDDADA;
    color: #878484;
    padding: 20px 10px;
    font-size: 25px;
    cursor: pointer;
    font-family: 'MaplestoryOTFBold';
    border-radius: 0px 5px 5px 0px;
    border-bottom: 1.5px solid #EDDADA;
  }
  .search_button:hover {
    color: black;
  }
  .search_input {
    font-family: sans-serif;
    outline: none;
    border-radius: 5px 0 0 5px;
    background-color: white;
    border: 3px solid #EDDADA;
    width: 60vw;
    font-size: 25px;
    padding: 15px 30px;
    &::placeholder {
      color: gray;
    }
  }
  .option {
    img {
      display: block;
      padding: 10px;
    }
    background: white;
    border: 3px solid #EDDADA;
    height: 60px;
    display: flex;
    text-align: center;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  .option-ul {
    box-shadow: 10px 10px 0px 0px black;
    font-family: 'MaplestoryOTFBold';
    font-size: 30px;
    padding: 20px;
    background-color: white;
    position: absolute;
    left: 0;
    top: -250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      position: relative;
      button {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 16px;
        border: 2px solid black;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        &:hover {
          border: 2px solid orange;
          color: orange;
        }
      }
    }
    .top {
      margin-top: 10px;
      border-top: 2px solid black;
    }
    .option-li {
      padding: 10px;
      font-size: 20px;
      font-family: 'OTWelcomeBA';
      .year_input {
        font-family: sans-serif;
        width: 8vw;
        border: 1px solid black;
        border-radius: 3px;
        background-color: white;
        font-size: 15px;
        padding: 5px 5px;
        &::placeholder {
          color: gray;
        }
      }
      select {
        font-family: Arial;
        font-weight: bolder;
        padding: 0px 5px;
        height: 35px;
      }
    }
  }
}

.movie_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #2E3B31;
  padding: 0px 15px;
  ul {
    width: 230px;
    height: 330px;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    margin: 20px 10px;
    box-shadow: 10px 10px 0px 0px black;
  }
  .movie-box {
    cursor: pointer;
    position: relative;
    img {
      display: block;
      width:100%;
      height:330px;
      object-fit:cover;
    }
    .movie-info {
      p {
        font-size: 0;
      }
    }
    &:hover {
        margin-top: 10px;
        width: 240px;
        transition: 0.3s all;
      .movie-info {
        position: absolute;
        bottom: 0%;
        box-shadow: 5px 5px 5px 5px black;
        p {
          font-family: 'MaplestoryOTFBold';
          color: #878484;
          background-color: #EDDADA;
          
          padding: 20px 0px;
          text-align: center;
          width: 240px;

          font-weight: bolder;
          font-size: 20px;
        }
      }
    }
  }
}


@include mobile {
  .logo-wrapper {
    display: none;
  }
  .search-container {
    .search_form {
      border-radius: 10px;
      .search_input {
        font-size: 10px;
        width: 40vw;
      }
      .option {
        img {
          display: block;
          padding: 5px;
        }
        background: linear-gradient(90deg,#878484, #EDDADA);
        height: 40px;
        display: flex;
        text-align: center;
        cursor: pointer;
      }
      .search_button {
        all: unset;
        height: 100%;
        background-color: #EDDADA;
        color: #878484;
        padding: 8.5px 10px;
        font-size: 20px;
        cursor: pointer;
        font-family: 'MaplestoryOTFBold';
        border-radius: 0px 5px 5px 0px;
        border-bottom: 1.5px solid #EDDADA;
      }
    }
  }
  .modal__content {
    padding: 0;
    .info-wrap {
      flex-wrap: wrap;
      .img {
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
    }
  }
}
